<app-header title="Edit your Deck"></app-header>
<ion-content fullscreen="true">
	<ion-row>
		<ion-col>
			<!-- HEADER -->
			<ion-card class="cardtitle">
				<ion-card-header>
					<ion-card-title>Deck description</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					<ion-grid>
						<ion-row>
							<ion-col size="3">
								<ion-img [src]="cardBackPreview"
									(click)="pickDeckImage()"></ion-img>
							</ion-col>
							<ion-col>
								<ion-input [(ngModel)]="deckDescriptor.title"
									(ionChange)="refreshDescriptor()"
									label="Title"
									labelPlacement="stacked"
									id="title"></ion-input>
								<ion-input [ngModel]="deckDescriptor.creator"
									(ionChange)="refreshDescriptor()"
									label="Creator"
									labelPlacement="stacked"
									readonly
									id="title"></ion-input>
								<ion-textarea [(ngModel)]="deckDescriptor.description"
									(ionChange)="refreshDescriptor()"
									label="Description"
									labelPlacement="stacked"
									id="description"></ion-textarea>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-card-content>
			</ion-card>
		</ion-col>
		<ion-col>
			<!-- PROPRIETES DE BASE -->
			<ion-card>
				<ion-card-header>
					<ion-card-title>Customize Deck</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					<ion-list>
						<ion-item>
							<ion-toggle [(ngModel)]="deck.isPublic"
								[enableOnOffLabels]="true"
								(ionChange)="makePublic(deck.isPublic) ; saveDeck()">
								Set public
							</ion-toggle>
						</ion-item>
						<ion-item>
							<ion-select [(ngModel)]="deck.format"
								(ionChange)="refreshAllPreviews(); saveDeck()"
								label="Format">
								<ion-select-option *ngFor="let format of deckFormats"
									[value]="format">
									{{ format }}
								</ion-select-option>
							</ion-select>
						</ion-item>
						<ion-item class="color-grey">
							<ion-label>Card Size</ion-label>
							<ion-label slot="end">
								{{deck.format === deckFormats[0] ? '750px / 1050px' : '720px / 1344px'}}
							</ion-label>
						</ion-item>
						<ion-item>
							<ion-label position="stacked">Black Card Color</ion-label>
							<input [(colorPicker)]="deck.blackCardColor"
								[style.background]="deck.blackCardColor"
								(colorPickerClose)="refreshAllPreviews(); saveDeck()">
						</ion-item>
						<ion-item>
							<ion-label position="stacked">Red Card Color</ion-label>
							<input [(colorPicker)]="deck.redCardColor"
								[style.background]="deck.redCardColor"
								(colorPickerClose)="refreshAllPreviews(); saveDeck()">
						</ion-item>
					</ion-list>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	<!-- Export -->
	<ion-card>
		<ion-accordion-group>
			<ion-accordion>
				<ion-item slot="header"
					color="light">
					<ion-label>Export</ion-label>
				</ion-item>
				<ion-card slot="content">
					<ion-card-content>
						<ion-button (click)="exportDeck()"
							expand="block">
							Export Deck as ZIP
						</ion-button>
						<ion-button (click)="exportDeckPDF()"
							expand="block">
							Export Deck as PDF
						</ion-button>
					</ion-card-content>
				</ion-card>
			</ion-accordion>
		</ion-accordion-group>
	</ion-card>
	<!-- Colors Icon & Text -->
	<ion-card class="icon-card">
		<ion-accordion-group>
			<ion-accordion>
				<ion-item slot="header"
					color="light">
					<ion-label>
						Customize  Color Icon & Font
					</ion-label>
				</ion-item>
				<ion-card class="ion-padding flex-grid"
					slot="content">
					<ion-card *ngFor="let color of cardColors"
						size="6">
						<ion-card-header class="ion-text-center">
							<ion-card-title>{{color}}</ion-card-title>
						</ion-card-header>
						<ion-card-content>
							<ion-item>
								<ion-toggle [(ngModel)]="deck.drawBorder[color]"
									[enableOnOffLabels]="true"
									(ionChange)="refreshPreviewsOfColour(color);saveDeck()">
									Draw borders
								</ion-toggle>
							</ion-item>
							<ion-item>
								<ion-thumbnail>
									<img [src]="deck.iconImages[color]">
								</ion-thumbnail>
								<ion-button (click)="pickIconImage(color)"
									slot="end">
									Icon
								</ion-button>
								<ion-button (click)="resetIconImage(color) ; saveDeck()"
									class="btn-trash"
									slot="end">
									<ion-icon size="small"
										slot="icon-only"
										name="trash"></ion-icon>
								</ion-button>
							</ion-item>
							<ion-item>
								<ion-label>
									{{deck.iconFont[color].name}}
								</ion-label>
								<ion-button (click)="uploadFont(color)"
									slot="end">
									Font
								</ion-button>
								<ion-button (click)="resetIconFont(color) ; saveDeck()"
									class="btn-trash"
									slot="end">
									<ion-icon size="small"
										slot="icon-only"
										name="trash"></ion-icon>
								</ion-button>
							</ion-item>
						</ion-card-content>
					</ion-card>
					<ion-card size="6">
						<ion-card-header class="ion-text-center">
							<ion-card-title>Trump</ion-card-title>
						</ion-card-header>
						<ion-card-content>
							<ion-item>
								<ion-toggle [(ngModel)]="deck.drawBorderTrump"
									[enableOnOffLabels]="true"
									(ionChange)="refreshPreviewsOfColourTrump();saveDeck()">
									Draw borders
								</ion-toggle>
							</ion-item>
							<ion-item>
								<ion-toggle [(ngModel)]="deck.drawBorderTrumpNumber"
									[enableOnOffLabels]="true"
									(ionChange)="refreshPreviewsOfColourTrump();saveDeck()">
									Draw borders of number
								</ion-toggle>
							</ion-item>
							<ion-item>
								<ion-toggle [(ngModel)]="deck.drawBorderTrumpNumber2"
									[enableOnOffLabels]="true"
									(ionChange)="refreshPreviewsOfColourTrump();saveDeck()">
									Draw borders after number
								</ion-toggle>
							</ion-item>
							<ion-item>
								<ion-toggle [(ngModel)]="deck.drawBorderTrumpNumberAdditional"
									[enableOnOffLabels]="true"
									(ionChange)="refreshPreviewsOfColourTrump();saveDeck()">
									Fill after number
								</ion-toggle>
							</ion-item>
							<ion-item>
								<ion-thumbnail>
									<img [src]="deck.iconImagesTrump">
								</ion-thumbnail>
								<ion-button (click)="pickIconImageTrump()"
									slot="end">
									Icon
								</ion-button>
								<ion-button class="btn-trash"
									slot="end">
									<ion-icon size="small"
										slot="icon-only"
										name="trash"></ion-icon>
								</ion-button>
							</ion-item>
							<ion-item>
								<ion-label>
									{{deck.iconFontTrump.name}}
								</ion-label>
								<ion-button (click)="uploadFontTrump()"
									slot="end">
									Font
								</ion-button>
								<ion-button class="btn-trash"
									slot="end">
									<ion-icon size="small"
										slot="icon-only"
										name="trash"></ion-icon>
								</ion-button>
							</ion-item>
						</ion-card-content>
					</ion-card>
				</ion-card>
			</ion-accordion>
		</ion-accordion-group>
	</ion-card>
	<!-- IMAGES PICKERS -->
	<ion-card>
		<ion-card-header>
			<ion-card-title>Customize Cards</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col *ngFor="let color of cardColors"
						size="6">
						<ion-card>
							<ion-card-header>
								<ion-card-title>{{ color }}</ion-card-title>
							</ion-card-header>
							<ion-card-content>
								<ion-grid>
									<ion-row>
										<ion-col *ngFor="let number of cardNumbers"
											size="6">
											<ion-img [src]="cardPreviews[color][number]"
												class="card-preview-image"></ion-img>
											<ion-button (click)="pickImage(color, number)"
												expand="block">
												{{number}}
											</ion-button>
										</ion-col>
										<ion-col *ngIf="deck.format === 'Tarot'"
											size="6">
											<ion-img [src]="cardPreviews[color]['Kn']"
												class="card-preview-image"></ion-img>
											<ion-button (click)="pickImage(color, 'Kn')"
												expand="block">
												{{'Kn'}}
											</ion-button>
										</ion-col>
									</ion-row>
								</ion-grid>
							</ion-card-content>
						</ion-card>
					</ion-col>
					<ion-col *ngIf="deck.format === 'Tarot'"
						size="12">
						<ion-card>
							<ion-card-header>
								<ion-card-title>Trump</ion-card-title>
							</ion-card-header>
							<ion-card-content>
								<ion-grid>
									<ion-row>
										<ion-col *ngFor="let number of trumpNumbers"
											size="3">
											<ion-img [src]="cardTrumpPreviews[number]"
												class="card-preview-image"></ion-img>
											<ion-button (click)="pickTrumpImage(number)"
												expand="block">
												{{number}}
											</ion-button>
										</ion-col>
									</ion-row>
								</ion-grid>
							</ion-card-content>
						</ion-card>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<div class="fontnumbers">a</div>
	<div class="fontbasterleur">a</div>
</ion-content>
