<app-header title="Playing Card Customizer"></app-header>
<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-card-title class="home-fontsize">
				Welcome to the Playing Card Customizer!
			</ion-card-title>
			<ion-card-subtitle class="home-fontsize">
				Personalize your own deck of playing cards and make them truly unique.
			</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<ion-button [routerLink]="['/browse']"
				expand="block"
				class="start-button home-content home-content-bgimg">
				Browse creations
			</ion-button>
			<ion-button [routerLink]="['/editor']"
				[disabled]="!isUserLoggedIn()"
				expand="block"
				class="start-button home-content {{isUserLoggedIn()? 'home-content-bgimg1':'home-content-bgimg2' }}">
				Customize now !
			</ion-button>
		</ion-card-content>
	</ion-card>
	<ion-row>
		<ion-col>
			<ion-card class="site-introduction">
				<ion-card-header>
					<ion-card-title>
						What can you do here ?
					</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					<h2>Freely</h2>
					<ul>
						<li>
							Browse, view & download the publics creations
						</li>
					</ul>
					<h2>With an account</h2>
					<ul>
						<li>
							Customize from various deck format
						</li>
						<li>
							Add your own images, fonts, and graphics
						</li>
						<li>
							Preview your custom deck online
						</li>
					</ul>
				</ion-card-content>
			</ion-card>
			<ion-card class="examples">
				<ion-card-header>
					<ion-card-title>
						Examples of Customized Cards
					</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					<div class="card-grid">
						<!-- Afficher quelques exemples de cartes personnalisées -->
						<div class="card-item">
							<img src="assets/ScreenShot1.png"
								alt="Custom Card 1">
						</div>
						<!-- Ajoutez d'autres exemples de cartes personnalisées ici -->
					</div>
				</ion-card-content>
			</ion-card>
		</ion-col>
		<ion-col>
			<div *ngIf="isUserLoggedIn(); then accountblock  else loginblock"></div>
			<ng-template #loginblock>
				<app-login class="flex-expand"></app-login>
			</ng-template>
			<ng-template #accountblock>
				<app-account class="flex-expand"></app-account>
			</ng-template>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-card>
				<ion-card-header></ion-card-header>
				<ion-card-content>
					<h2>
						Need help or want to contribute?
					</h2>
					<a href="https://github.com/Fx73/playing-card-customizer"
						target="_blank">
						Visit Github
						<ion-icon name="logo-github"
							alt="https://github.com/Fx73/playing-card-customizer">
						</ion-icon>
					</a>
					<h2>
						Found a bug or have a feature request?
					</h2>
					<a href="https://github.com/Fx73/playing-card-customizer/issues"
						target="_blank">
						Create an issue on GitHub.
					</a>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
</ion-content>
